footer
  .container.text-center
    p.float-left Sample Content
    ul.float-right.list-inline
      li.list-inline-item
        a(href="#") Link 1
      li.list-inline-item
        a(href="#") Link 2