doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="shortcut icon", href="/icons/favicon.ico", type="image/x-icon")
  body
    block content
